*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.menu_bar{
  display: none;
}

header{
  width: 100%;
}

a{
  text-decoration: none;
}

header nav{
  background: #009688;
  z-index: 1000;
  max-width: 10000px;
  width: 100%;
  margin: auto;
  margin-top: 0;
  box-shadow: 1px 1px 2px gray;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  position: relative;
  background: #00897B;
}

header nav ul li a{
  color: white;
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: 'Questrial', sans-serif;
}

header nav ul li a span{
  margin-right: 10px;
}

header nav ul li:hover .Hijos{
  display: block;
}

header nav ul li .Hijos{
  display: none;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li .Hijos li{
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .Hijos li a{
  display: block;
}

header nav ul li .Hijos li a span{
  float: right;
  position: relative;
  top: 3px;
  margin-right: 0px;
  margin-left: 10px;
}

header nav ul li .caret{
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

.li{
  float: right;
}
